@media (min-width: 200px) and (max-width: 320px) {
  .expand {
    background-color: rgb(109, 109, 214);
  }
  .expand {
    height: 10rem;
  }
}
.hide {
  display: none;
}

.m-menu {
  margin-left: 20%;
}
