.color {
  color: royalblue;
}
.contract-section {
  margin-top: 15%;
  margin-left: 20%;
}
.h1-p-2 {
  margin-top: -14px;
  margin-left: 81px;
}
.h1-p {
  margin-top: -14px;
  margin-left: 81px;
}
.h1-margin {
  margin-top: 0.5%;
}
.h1-margin-2 {
  margin-top: 3%;
}
@media (min-width: 200px) and (max-width: 1040px) {
  .h1-margin {
    margin-top: 38.5%;
  }
}
